<nav class="navbar navbar-default" style="background-color: #565A5C">
  <div class="container">
    <ul class="nav navbar-nav">
      <%= dashboard_menu_link("Dashboard", suppliers_dashboard_path) %>
      <%= dashboard_menu_link("Listings", suppliers_rooms_path) %>
      <%= dashboard_menu_link("Reservations", suppliers_reservations_path) %>
    </ul>
  </div>
</nav>
