<nav class="navbar navbar-default" style="background-color: #565A5C">
  <div class="container">
    <ul class="nav navbar-nav">
      <%= dashboard_menu_link("My Reservations", reservations_path) %>
      <%= dashboard_menu_link("My Conversations", conversations_path) %>
    </ul>
  </div>
</nav>
