<div class="row">
  <div class="col-sm-12">
    <h3 class="title">General Questions</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="subtitle-first">What is Strolln’Smile?</h4>
    <div class="static-main">
      <p>Strolln’Smile is an online marketplace that portrays to travelers,
      with transparency and convenience, the excellent and affordable dental
      care services available to locals. Thus we create the trust so that
      travelers can benefit from excellent, no hassle dental care; while local
      dentals receive patients from other countries thus promoting their
      communities as dental destinations by excellence.</p>
    </div>

    <h4 class="subtitle">How does Strolln’Smile work?</h4>
    <div class="static-main">
      <p>Registered dentals with the capability to offer dental services to
      English-speaking patients have their facilities and services portrayed
      in our marketplace. Travelers and anyone willing to invest a few hours
      in their dental health can choose from all available options the dental
      of their preference. After booking an appointment, and receiving the
      service, patients leave their feedback thus guaranteeing that quality of
      service is regarded as a top priority by our affiliate dentals.</p>
    </div>

    <h4 class="subtitle">What does Strolln’Smile do?</h4>
    <div class="static-main">
      <p>We let travelers easily find out about the location, facilities,
      credentials, and cost of the services at different dentals, so that they
      can make a booking at their convenience. We increase the exposure of
      local dentals to foreign travelers through our website and through
      alliances with travel agencies, organizations, and online promotion.</p>
    </div>

    <h4 class="subtitle">Why should I use Strolln’Smile?</h4>
    <div class="static-main">
      <p>If you are in need of some dental work, or if you can spare a couple
      hours of your time and invest them in your dental health taking advantage
      of the highly competitive prices you will find in Ecuador, all of our
      affiliates will welcome you to their dentals, and provide a service in
      english so that your needs are understood. They will make you experience
      top quality dental care and be an important part of your travel
      experience.</p>
    </div>

    <h4 class="subtitle">Do I need to create an account?</h4>
    <div class="static-main">
      <p>If you are a potential patient, you don’t have to create an account.
      However, if you want to book an appointment from our site, it is
      necessary that you create an account. If you are a dental, it is
      mandatory that you open an account with us.</p>
    </div>

    <h4 class="subtitle">Is it free to list my dental?</h4>
    <div class="static-main">
      <p>No, you must become an affiliate to be listed in our marketplace. You
      and your personnel must demonstrate that you can provide dental care to a
      patient in English and be willing to work with us under our policies of
      transparency and professional care. The service fee for bookings is free.
      We are the most cost effective and continual revenue generating platform
      for dentals.</p>
    </div>

    <h4 class="subtitle">What countries do you support?</h4>
    <div class="static-main">
      <p>At this moment we are only working in Ecuador. Expanding to other
      cities in Latin America soon.</p>
    </div>

    <h4 class="subtitle">Who started Strolln’Smile? </h4>
    <div class="static-main">
      <p>Strolln’Smile was strated by two Ecuadorian entrepreneurs passionate
      about creating bonds and experiences between local professionals and
      travelers. The idea was to leverage the professionalism of ecuadorean
      dentists, and the important number of travelers who could use affordable
      dental care.</p>
    </div>
  </div>
</div>

