<div class="row">
  <div class="col-sm-12">
    <h3 class="title">How Strolln'Smile Works?</h3>
    <div class="static-main">
      <p> Make an <span class="text-red">informed decision</span> checking the
      reviews, prices, location, and dental offerings.
      <span class="text-red">Book</span> your dental appointment in a dental
      of your preference through our web platform.</p>

      <p><span class="text-red">Communicate</span> with your dental provider if
      necessary.
      Let us know if you need <span class="text-red">transportation</span>
      or <span class="text-red">additional assistance</span>.
      Get to your appointment <span class="text-red">on time</span>.
      <span class="text-red">Leave</span> with a smile.
      <span class="text-red">Rate</span> and <span class="text-red">review</span>
      the service so it helps others in making a decision to choose the right
      dental.</p>
    </div>
  </div>
</div>

<div>
  <img class="img-complete" src="<%= image_path('scrabble.jpg') %>" />
</div>
