<div class="row">
  <div class="col-sm-12">
    <h3 class="title">Why Strolln'Smile?</h3>
    <div class="static-main">
      <p>We have created a marketplace to promote trust between high-quality
      dentals, highly qualified dentists, and international travelers, to
      facilitate access to affordable, outstanding dental care in Ecuador.</p>

      <p>We ensure that at the dental of your choosing, professionals will
      treat you in English and dental staff who understand your needs and
      whose mission is to offer you comfort and solutions to your dental
      needs.</p>

      <p>We let you rate and review the dental services, and also let you
      communicate with the dental of your choosing before and after your
      appointment. Through our platform we ensure that you are informed before,
      confident during, and happy after your dental appointment.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h4 class="subtitle">Make wise use of your time and money</h4>
    <div class="static-main">
      <p>Save on dental treatment taking advantage of top-quality dental
      treatment prices and low-cost for treatments that do not require surgery
      or complex diagnoses.</p>
    </div>

    <h4 class="subtitle">Convenience</h4>
    <div class="static-main">
      <p>We let you choose the location and features of the dental that is
      more adequate for your needs. We offer you transportation and special
      assistance if needed.</p>
    </div>

    <h4 class="subtitle">Easy payment and transaction</h4>
    <div class="static-main">
      <p>Pay with your credit card, paypal, and you’re set.</p>
      <p><i>*Expanding to other cities in Latin America soon.</i></p>
    </div>
  </div>

  <div class="col-md-6">
    <h4 class="subtitle">Competitive prices</h4>

    <div class="static-main">
      <p>Prices offered by our associate dentals are between one tenth and one
      fourth of those offered in North America, even with dental insurance.
      Rates will match those of services available to locals.</p>
    </div>

    <h4 class="subtitle">Easy scheduling</h4>
    <div class="static-main">
      <p>Book in advance through our no-hassle platform. Appointments should
      take no more than two hours of your time.</p>
    </div>
  </div>
</div>
