<div class="error-page">
  <h1 class="error-page__title">Internal Server Error</h1>
  <div class="error-page__body">
    <p>Sorry, we did something wrong while processing your request.</p>
    <p>Please <a href="javascript:window.location.reload();">reload the page</a> or
    <a href="mailto:strollnsmile@gmail.com">contact us</a> if the problem persists.</p>
  </div>
</div>
