<div class="error-page">
  <h1 class="error-page__title">Page Not Found</h1>
  <div class="error-page__body">
    <p>Sorry, we can't find the page you were looking for; it might be an old link or maybe it was moved.</p>
    <p>You can return to our <a href="<%= root_path %>">home page</a> or
    <a href="mailto:strollnsmile@gmail.com">contact us</a> if you can't find what you are looking for.</p>
  </div>
</div>
