<div class="error-page">
  <h1 class="error-page__title">Unprocessable Entity</h1>
  <div class="error-page__body">
    <p>The change you wanted was rejected, maybe you tried to change something you didn't have access to.</p>
    <p>Please try again or <a href="mailto:strollnsmile@gmail.com">contact us</a> if the problem persists.</p>
  </div>
</div>
