.error-page {
  text-align: center;
  height: calc(100vh - 367px);
  margin: 70px 10px 10px;
}

.error-page__title {
  font-size: 2.5rem;
  color: #00A699;
}

.error-page__body {
  font-size: 1.6rem;
  margin-top: 3rem;
}
