// jQuery UI slider
.ui-widget-header {
  background: #00A699 !important;
}

.ui-state-default, .ui-widget-content {
  background: #ffffff !important;
}

.ui-state-default, .ui-widget-content {
  border-color: #00A699 !important;
}

.ui-slider-horizontal {
  margin-left: 10px !important;
}
